Core/CrossX.Framework/UI/schema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="Color">
    <xs:restriction base="xs:token">
      <xs:pattern value="#[\dA-F]{6}([\dA-F][\dA-F])?"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Alignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Start" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="End" />
      <xs:enumeration value="Stretch" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="HorizontalTextAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Left" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Right" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VerticalTextAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Top" />
      <xs:enumeration value="Middle" />
      <xs:enumeration value="Bottom" />
    </xs:restriction>
  </xs:simpleType>

  
  <xs:complexType name="View" abstract="true">
    <xs:attribute type="xs:string" name="Id"/>
    <xs:attribute type="Alignment" name="HorizontalAlignment"/>
    <xs:attribute type="Alignment" name="VerticalAlignment"/>
    <xs:attribute type="Color" name="BackgroundColor"/>
  </xs:complexType>

  <xs:complexType name="FrameLayout">
    <xs:complexContent>
      <xs:extension base="View">
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Label">
    <xs:complexContent>
      <xs:extension base="View">
        <xs:attribute type="xs:string" name="Text"/>
        <xs:attribute type="xs:string" name="FontFamily"/>
        <xs:attribute type="xs:double" name="FontSize"/>
        <xs:attribute type="Color" name="TextColor"/>
        <xs:attribute type="HorizontalTextAlignment" name="HorizontalTextAlignment"/>
        <xs:attribute type="VerticalTextAlignment" name="VerticalTextAlignment"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  

</xs:schema>
