Core/CrossX.Framework/Meta/crossx-framework-ui.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema attributeFormDefault="unqualified" targetNamespace="https://crossx.support/Schemas/CrossX.Framework.UI" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xx="https://crossx.support/Schemas/CrossX.Framework.UI" xmlns:aa="https://crossx.support/Schemas/CrossX.Framework">
  <xsd:import namespace="https://crossx.support/Schemas/CrossX.Framework" />
  <xsd:complexType name="System.Object" />
  <xsd:complexType name="CrossX.Framework.UI.UIBindingContext">
    <xsd:complexContent>
      <xsd:extension base="xx:System.Object">
        <xsd:attribute type="aa:unknown" name="DataContext" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.View">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.UIBindingContext">
        <xsd:attribute type="aa:unknown" name="BackgroundDrawable" />
        <xsd:attribute type="aa:CrossX.Framework.Alignment-Bindable" name="HorizontalAlignment" />
        <xsd:attribute type="aa:CrossX.Framework.Alignment-Bindable" name="VerticalAlignment" />
        <xsd:attribute type="aa:CrossX.Framework.Length-Bindable" name="Width" />
        <xsd:attribute type="aa:CrossX.Framework.Length-Bindable" name="Height" />
        <xsd:attribute type="aa:CrossX.Framework.Thickness-Bindable" name="Margin" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="BackgroundColor" />
        <xsd:attribute type="aa:System.Float-Bindable" name="Opacity" />
        <xsd:attribute type="aa:CrossX.Framework.Name" name="Id" />
        <xsd:attribute type="aa:CrossX.Framework.Classes" name="Classes" />
        <xsd:attribute type="aa:System.Boolean-Bindable" name="Visible" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Controls.TextBasedControl">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.View">
        <xsd:attribute type="aa:CrossX.Framework.FontMeasure-Bindable" name="FontMeasure" />
        <xsd:attribute type="aa:CrossX.Framework.Thickness-Bindable" name="TextPadding" />
        <xsd:attribute type="aa:System.String-Bindable" name="Text" />
        <xsd:attribute type="aa:System.String-Bindable" name="FontFamily" />
        <xsd:attribute type="aa:CrossX.Framework.Length-Bindable" name="FontSize" />
        <xsd:attribute type="aa:CrossX.Framework.FontWeight-Bindable" name="FontWeight" />
        <xsd:attribute type="aa:System.Boolean-Bindable" name="FontItalic" />
        <xsd:attribute type="aa:CrossX.Framework.Alignment-Bindable" name="HorizontalTextAlignment" />
        <xsd:attribute type="aa:CrossX.Framework.Alignment-Bindable" name="VerticalTextAlignment" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="ForegroundColor" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="ForegroundColorDisabled" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Controls.Button">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.Controls.TextBasedControl">
        <xsd:attribute type="aa:unknown" name="Command" />
        <xsd:attribute type="aa:unknown" name="CommandParameter" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="BackgroundColorPushed" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="BackgroundColorOver" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="BackgroundColorDisabled" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="ForegroundColorPushed" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="ForegroundColorOver" />
        <xsd:attribute type="aa:System.Boolean-Bindable" name="Enabled" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Controls.CheckButtonBase">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.Controls.TextBasedControl">
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="BoxColor" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="BoxColorOver" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="BoxColorPushed" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="BoxColorDisabled" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="CheckedBoxColor" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="CheckedTickColor" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="CheckedBoxColorOver" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="CheckedTickColorOver" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="CheckedBoxColorPushed" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="CheckedTickColorPushed" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="TickColorPushed" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="TickColorDisabled" />
        <xsd:attribute type="aa:CrossX.Framework.Length-Bindable" name="BoxSize" />
        <xsd:attribute type="aa:CrossX.Framework.Length-Bindable" name="Spacing" />
        <xsd:attribute type="aa:System.Boolean-Bindable" name="Enabled" />
        <xsd:attribute type="aa:unknown" name="BoxDrawable" />
        <xsd:attribute type="aa:unknown" name="TickMarkDrawable" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Controls.CheckBox">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.Controls.CheckButtonBase">
        <xsd:attribute type="aa:System.Boolean-Bindable" name="Checked" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Controls.Fill">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.View"></xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Controls.ImageView">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.View">
        <xsd:attribute type="aa:CrossX.Framework.ImageDescriptor-Bindable" name="Source" />
        <xsd:attribute type="aa:CrossX.Framework.Stretch-Bindable" name="Stretch" />
        <xsd:attribute type="aa:System.Float-Bindable" name="Scale" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Controls.Label">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.Controls.TextBasedControl"></xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Controls.ProgressBar">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.View">
        <xsd:attribute type="aa:System.Float-Bindable" name="MaxValue" />
        <xsd:attribute type="aa:System.Float-Bindable" name="Value" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="ForegroundColor" />
        <xsd:attribute type="aa:CrossX.Framework.Length-Bindable" name="IndeterminateSpeed" />
        <xsd:attribute type="aa:CrossX.Framework.ProgressDisplayMode-Bindable" name="Mode" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Controls.RadioButton">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.Controls.CheckButtonBase">
        <xsd:attribute type="aa:System.Int-Bindable" name="CurrentValue" />
        <xsd:attribute type="aa:System.Int-Bindable" name="Value" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Controls.Slider">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.View">
        <xsd:attribute type="aa:System.Float-Bindable" name="MaxValue" />
        <xsd:attribute type="aa:System.Float-Bindable" name="MinValue" />
        <xsd:attribute type="aa:System.Float-Bindable" name="Value" />
        <xsd:attribute type="aa:System.Boolean-Bindable" name="Enabled" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="ThumbColor" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="TrackColor" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="ThumbColorDisabled" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="TrackColorDisabled" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="ThumbColorOver" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="TrackColorOver" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="ThumbColorPushed" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="TrackColorPushed" />
        <xsd:attribute type="aa:CrossX.Framework.Length-Bindable" name="TrackThickness" />
        <xsd:attribute type="aa:unknown" name="ThumbDrawable" />
        <xsd:attribute type="aa:unknown" name="TrackDrawable" />
        <xsd:attribute type="aa:System.Float-Bindable" name="ValueResolution" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Controls.TextBox">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.View">
        <xsd:attribute type="aa:System.String-Bindable" name="Text" />
        <xsd:attribute type="aa:System.String-Bindable" name="FontFamily" />
        <xsd:attribute type="aa:System.Float-Bindable" name="FontSize" />
        <xsd:attribute type="aa:CrossX.Framework.FontWeight-Bindable" name="FontWeight" />
        <xsd:attribute type="aa:System.Boolean-Bindable" name="FontItalic" />
        <xsd:attribute type="aa:CrossX.Framework.Alignment-Bindable" name="HorizontalTextAlignment" />
        <xsd:attribute type="aa:CrossX.Framework.Alignment-Bindable" name="VerticalTextAlignment" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="TextColor" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Controls.ToggleButton">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.Controls.Button">
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="CheckedBackgroundColor" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="CheckedForegroundColor" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="CheckedBackgroundColorOver" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="CheckedForegroundColorOver" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="CheckedBackgroundColorPushed" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="CheckedForegroundColorPushed" />
        <xsd:attribute type="aa:System.Boolean-Bindable" name="Checked" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Containers.ViewContainer">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.View">
        <xsd:attribute type="aa:CrossX.Framework.Thickness-Bindable" name="Padding" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Containers.FrameLayout">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.Containers.ViewContainer">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:any />
        </xsd:choice>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Containers.NavigationFrame">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.View">
        <xsd:attribute type="aa:unknown" name="AttachedToFrameCommand" />
        <xsd:attribute type="aa:unknown" name="NavigationController" />
        <xsd:attribute type="aa:unknown" name="NavigateToTransform" />
        <xsd:attribute type="aa:unknown" name="NavigateFromTransform" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Containers.SplitLayout">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.View">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:any />
        </xsd:choice>
        <xsd:attribute type="aa:CrossX.Framework.Orientation-Bindable" name="Orientation" />
        <xsd:attribute type="aa:System.Boolean-Bindable" name="EnableManipulation" />
        <xsd:attribute type="aa:unknown" name="SplitterDrawable" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="SplitterColor" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="SplitterColorOver" />
        <xsd:attribute type="aa:CrossX.Framework.Color-Bindable" name="SplitterColorPushed" />
        <xsd:attribute type="aa:CrossX.Framework.Length-Bindable" name="FirstMinSize" />
        <xsd:attribute type="aa:CrossX.Framework.Length-Bindable" name="SecondMinSize" />
        <xsd:attribute type="aa:CrossX.Framework.Length-Bindable" name="SplitterSize" />
        <xsd:attribute type="aa:CrossX.Framework.Length-Bindable" name="SplitPosition" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Containers.StackLayout">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.Containers.ViewContainer">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:any />
        </xsd:choice>
        <xsd:attribute type="aa:CrossX.Framework.Orientation-Bindable" name="Orientation" />
        <xsd:attribute type="aa:CrossX.Framework.Length-Bindable" name="Spacing" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrossX.Framework.UI.Containers.WrapLayout">
    <xsd:complexContent>
      <xsd:extension base="xx:CrossX.Framework.UI.Containers.ViewContainer">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
          <xsd:any />
        </xsd:choice>
        <xsd:attribute type="aa:CrossX.Framework.Orientation-Bindable" name="Orientation" />
        <xsd:attribute type="aa:CrossX.Framework.Length-Bindable" name="Spacing" />
        <xsd:attribute type="aa:CrossX.Framework.Alignment-Bindable" name="LineHorizontalAlignment" />
        <xsd:attribute type="aa:CrossX.Framework.Alignment-Bindable" name="LineVerticalAlignment" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Button">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="xx:CrossX.Framework.UI.Controls.Button" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="CheckBox">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="xx:CrossX.Framework.UI.Controls.CheckBox" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Fill">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="xx:CrossX.Framework.UI.Controls.Fill" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ImageView">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="xx:CrossX.Framework.UI.Controls.ImageView" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Label">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="xx:CrossX.Framework.UI.Controls.Label" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ProgressBar">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="xx:CrossX.Framework.UI.Controls.ProgressBar" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="RadioButton">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="xx:CrossX.Framework.UI.Controls.RadioButton" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Slider">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="xx:CrossX.Framework.UI.Controls.Slider" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="TextBox">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="xx:CrossX.Framework.UI.Controls.TextBox" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ToggleButton">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="xx:CrossX.Framework.UI.Controls.ToggleButton" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FrameLayout">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="xx:CrossX.Framework.UI.Containers.FrameLayout" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="NavigationFrame">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="xx:CrossX.Framework.UI.Containers.NavigationFrame" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="SplitLayout">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="xx:CrossX.Framework.UI.Containers.SplitLayout" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="StackLayout">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="xx:CrossX.Framework.UI.Containers.StackLayout" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="WrapLayout">
    <xsd:complexType>
      <xsd:complexContent>
        <xsd:extension base="xx:CrossX.Framework.UI.Containers.WrapLayout" />
      </xsd:complexContent>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>